.form-style {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.alert {
    margin-right: 15px;
    color: red;
    
}

.button-style {
    background-color: #1c202049;
    border-radius: 5px;
    margin-left: 15px;
    color: #fff;
    border: 1px solid #fff;
}